<%= form_with model: dish do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% dish.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :hint %><br>
    <%= form.text_area :hint %>
    <% dish.errors.full_messages_for(:hint).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>